@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

.datepicker-itf {
  font-family: Lato, sans-serif;
  
  input {
    font-family: Lato, sans-serif;
  }
}

.btn {
  height: 51px;
  background:#54565a;
  padding: 0 25px;
  color: white;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  margin-right: 20px;
}